.idea
*.iml
.bash_history
.cache/
.composer/
public_html
.config
.mysql_history

.env.example
.editorconfig
package.json
webpack.mix.js
.styleci.yml
.phpunit.result.cache
bootstrap
resources/js
resources/css

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
